# Git
.git
.gitignore

# Node
node_modules
frontend/node_modules

# Build output
target
backend/target
frontend/dist
*.jar

# IDE
.vscode
.idea
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Documentation
*.md
